* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-image: url(assets/images/woman-code.png);
  background-size: 100vw;
  background-attachment: fixed;
}

header {
  background: linear-gradient(0deg, black, rgb(13, 35, 49), black);
  justify-content: center;
  text-align: center;
  color: aliceblue;
  padding: 50px;
  word-wrap: break-word;
}

.banner-content {
  background-image: url(assets/images/banner.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  word-break: break-word;
}

.logo img {
  background-color: rgba(0, 0, 0, 0.363);
  padding: 30px 10px;
  border-radius: 100%;
}

h1 {
  background-image: linear-gradient(
    0deg,
    rgb(35, 133, 212) 0%,
    rgb(130, 188, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 800;
}

.banner-content p {
  width: 40%;
  margin: auto;
}

.banner-content button {
  color: rgb(35, 133, 212);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid rgb(35, 133, 212);
  padding: 10px 20px;
  margin-top: 20px;
}

#course-content {
  border-top: 1px solid rgb(35, 133, 212);
  background-color: black;
  background-size: 100%;
  color: white;
  padding: 70px 0 30px 0;
  text-align: center;
}

#course-content h2 {
  color: rgb(49, 144, 223);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 15px;
}

#course-content p {
  width: 60%;
  margin: auto;
}

.module {
  background-color: rgb(44, 44, 44);
  padding: 15px 20px;
  border: 1px solid rgb(49, 144, 223);
  border-radius: 50px;
  width: 40%;
  margin: 20px auto;
  box-shadow: inset -3px 3px rgb(22, 22, 22);
}

.module span {
  color: rgb(35, 133, 212);
}
